body{ 
  background-color: lightyellow
}

.grid{
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border-radius: 20px;
  border: 2px solid #cdcbcb;
  box-shadow: 10px 15px 5px #cdcbcb;
}

.grid h1{
  font-family: sans-serif;
  background-color: lightgreen;
  font-size: 60px;
  text-align: center;
  color: #fff;
  padding: 2px opx; 
  border-radius: 50px;
}

.grid #question {
  font-family: sans-serif;
  font-size: 30px;
  color: #5a6772; 

}

.buttons {
  margin-top: 30px;
}

#btn0, #submit, #correct, #wrong{
  background-color: #778897;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 10px 40px 10px 0px; 
  padding: 10px 10px ;
} 

/* #progress {
  color: #2b2b2b;
  font-size: 18px;
} */


/* 
// // Quiz controllers
//   function Quiz(questions) {
//   this.score = 0;
//   this.questions = questions;
//   this.questionIndex = 0;
// }

// // Quiz functions attributes

// Quiz.prototype.getQuestionIndex = function(){
//   return this.questions
// }

// // Quiz functions
// function Quiz(questions) {
//   this.score = 0; 
//   this.questions = questions; 
//   this.questionIndex = 0; 
// }

// Quiz.prototype.getQuestionIndex = function(){
//   return this.questions[this.questionIndex];
// }

// Quiz.prototype.isEnded = function(){
//   return this.questions.length === this.questionIndex;
// }

// Quiz.prototype.guess = function(answer){
//  if(this.getQuestionIndex().correctAnswer(answer)){
//     this.score++;
//   }
//   this.questionIndex++;
// }

// // min25 and 33

// function score(){
//   var gameOverHtml = <h1>Result</h1>
//       gameOverHtml += "<h2 id= 'score'>Your scores: "  + quiz.scores + "</h2>";
//       var element = document.getElementById("quiz");
//       element.innerHTML = gameOverHtml;
// }



//   // score function

//   function score()
//   {
//     var q1 = document.questionQ1.value;

//   } */